html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    background-color: #eee;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

button {
    padding: 6px 12px;
    color: #333;
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 99px;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

.vs {
    background: #fff;
    padding: 15px;
    border-radius: 25px;
    margin: 8px 0;
}

.virtual-scroll-item {
    padding: 4px 0;
}

div[slot="header"], div[slot="footer"] {
    text-align: center;
    padding: 4px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
    background: #00000014;
    border-radius: 20px;
}
